* {
    margin:0;
    padding: 0;
}

html, 
body {
    background-color: rgb(176, 176, 243);
    color: rgb(24, 1, 24)
}

#title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

form {
    font-size: 36px;
    text-align: center;
}

input {
    font-size: 24px;
}

#current-title-and-container {
    border: 2px solid rgb(24, 1, 24);
    box-shadow: rgb(24, 1, 24) 0px 5px 15px;
    padding: 1rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.current-container {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    font-size: 36px;
}

#current-title {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

#city-name {
    height: 75px;
    font-weight: bold;
    margin-top: .5rem;
}

.current-img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    
}

#current-image {
    height: 5rem;
    width: 5rem;
    border: 1px solid rgb(24, 1, 24);
    
}

#current-condition {
    
}

.extended-container {
    font-size: 24px;
    border: 2px solid rgb(24, 1, 24);
    box-shadow: rgb(24, 1, 24) 0px 3px 8px;
    padding: 1rem;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

#extended-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.extended-weather-img {
    border: 1px solid rgb(24, 1, 24);
    height: 5rem;
    width: 5rem;
}

.extended-forcast-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.img-day {
    display: flex;
}

.temp-c {
    display: none;
}
